*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald',sans-serif;
}
#all{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(2, 151, 238, 0.671),rgba(130, 202, 214, 0.144)),url(/imeg/h2.jpg);
    background-attachment: fixed;
}
#container{
    width: 100%;
    height: 100vh;
    display: grid;
    overflow: hidden;
    z-index: -1;
  
    transition: .5s;
    background-size: cover;
    background-position: center;
    
}

img{
  position: absolute;
  right: 20px;
  top: 10px;
}
#tenperatur{
    margin: 5px 280px;
    position: absolute;
    display: flex;
    top: -30px;
    color: floralwhite;
    z-index: 1;
}
.temp{
    margin:40px 250px;
    position: absolute;
    display: flex;
    top: 0px;
    color: floralwhite;
    z-index: +1;
}
#clock{
    position: absolute;
    margin: 20px 10px;
   z-index: 10;
}
#hour{
    background-color: rgba(45, 46, 46, 0.144);
    padding: 5px;
    color: blanchedalmond;
}
#minutes{
    background-color: rgba(45, 46, 46, 0.144);
    padding: 5px;
    color: blanchedalmond;
}
#secondes{
    background-color: rgba(45, 46, 46, 0.144);
    padding: 5px;
    color: blanchedalmond;
}
#am{
    background-color: rgba(245, 89, 115, 0.863);
    padding: 5px;
    color: blanchedalmond;
}

nav>ul{
    background-color: dimgray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    
}
nav>ul>li{
    width: 100px;
    margin: 10px;
    font-size: 20px;
    font-size: bold;
    font-family: 'Oswald',sans-serif;
    background-color:rgba(45, 46, 46, 0.144);
    border-radius: 10px 0 10px 0;
    transition: transform 0.2s, box-shadow 0.2s;
    
}
nav>ul>li:hover{
    background-color:rgb(15, 15, 15);
    color: white;
    box-shadow: 7px 8px 5px rgba(2, 12, 12, 0.514);
    transform: scale(1.2);
    transform-origin: 50px 20px; 
}
nav>ul>li:hover>a{
    color: white;
}
nav>ul>li>a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(247, 243, 243);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#slider{
    width: 400%;
    height: 100vh;
    display: flex;
    transition: .5s;
    background-attachment: fixed;
}
.slid{
    width: 33.33%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(119, 117, 117, 0.5);
    background-blend-mode:multiply ;
    position: relative;
    transition: .5s;
    box-shadow:15px 15px 15px rgba(20, 20, 20, 0.582);
    border-radius: 10px;
    
}
#slid1{
    background-image: url(/imeg/hamburg1.jpg);
  
  
}
#slid2{
    background-image: url(/imeg/img1.jpg);
}
#slid3{
    background-image: url(/imeg/hamburg.jpg);
}
#slid4{
    background-image: url(/imeg/img7.jpg);
}
.cont{
    width: 80%;
}
.lin{
    width: 100%;
    height: 3px;
    background-color: #02c98d;
   
}
h1{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing:6px ;
    word-spacing: 3px;
    color: rgb(253, 250, 245);
    line-height: 70px;
    transition: .5px;
    font-family: 'Oswald',sans-serif;
}
p{
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing:3px ;
    color: rgb(253, 250, 245);
    font-family: 'Oswald',sans-serif;
}
/* container1 */
/* ////// */
#container1{
    width: 100%;
    height: 100vh; 
    display: grid;
    grid-template-rows: 550px auto ;
  
    }
    
    #cont{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns:40% 60%;
        position: relative;
        background-color:Silver;
        perspective: 800px;

        
    }
   
    #imge{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto ;
        grid-template-rows: 170px 170px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        background-color:Silver;
        opacity: 1;
        transform: scale(1);
        padding: 5px;
        transition: 2s;
       
    
    }
    #imge >.back{
        width: 100%;
        height: 100%;
        position: relative;
   
   
    }
    #p{
        width: 50px;
        height: 50px;
    }
    /* gred end */
    
    
        /* flip end */
        #txt{    
            width: 100%;
            height: 100%;
            display: grid;
            position: relative;
            padding: 20px;
            top: 50px;
            border: 2px solid black;
            font-family: 'Oswald',sans-serif;
    
        }
       
       
            #img1 {
                width:100% ;
                height: 100%;

                opacity: 1;
                transition: 1s;
                z-index: 10;
                transform: scale(1);
                display: grid;
            }
          
            .f  {
                position: absolute;
                width: 400px;
                height: 250px;
                background-size: cover;
                background-position: center;
                box-shadow:5px 4px 8px 5px rgba(20, 2, 2, 0.349);
                transform-origin: 100px 100px;
                perspective: 800px;
                perspective-origin: 90% 90%;
                border-radius: 7px;
           
            }
           
            #img1 .f:nth-child(3){
                background-image: url(/imeg/r1.jpg);
                left: 50px; 
                top: 150px; 
            }

            #img1 .f:nth-child(2){
                background-image: url(/imeg/r2.jpg);
                left:0;
                top: 10px;
             }
             #img1 .f:nth-child(1){
                background-image: url(/imeg/r3.jpg);
                left: 270px;
                top: 60px;
            }
             #img1 .f:nth-child(4){
                background-image: url(/imeg/r4.jpg);
                left: 290px;
                top: 210px;
                z-index: -1;
            } 
           
            #img1 .f:hover{
                z-index: 3;
                border-radius: 7px;
                border: solid rgba(188, 188, 226, 0.349) 2px ;
                background-size: cover;
                background-position: center;
                width: 500px;
                height: 300px;
                position: absolute;   
                transform: translatez( 80px);
                transition: all 0.5s;
                box-shadow: 15px 15px 5px rgba(39, 39, 39, 0.575);
                transform-origin: 150px 150px; 
            }
            
            
            /* section1 end */
            #div2{
                width: 100%;
                display: grid;
                background-image: url(/imeg/alster2.jpg);
                background-size: cover;
                box-shadow: 5px 8px 5px rgba(82, 81, 81, 0.664);
                cursor: pointer;
                border-radius: 7px;
              
            }
           .post{
                width: 160%;
                height: 100%;
                display: none;
              
                bottom: 490px;
                position: absolute;
                padding: 20px;
                transition: 1s;
                border: 2px solid black;
                z-index: -11;
            }
            .ml{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 160%;
                bottom:  550px;
                display: block;
                transition: 1s;
                z-index: 100;
                display: none;
            }
             .f2:hover ,.f3:hover ,.f4:hover ,.f5:hover{
                z-index: 3;
                border-radius: 7px;
                border: solid rgba(188, 188, 226, 0.349) 2px ;
                background-size: cover;
                background-position: center;
                width: 500px;
                height: 300px;
                position: absolute;      
                transform: translatez( 80px);
                transition: all 0.5s;
                box-shadow: 15px 15px 5px rgba(39, 39, 39, 0.575);
                transform-origin: 150px 150px; 
            }
            
            .f2 ,.f3,.f4,.f5{
                position: absolute;
                width: 400px;
                height: 250px;
                background-size: cover;
                background-position: center;
                box-shadow:5px 4px 8px 5px rgba(20, 2, 2, 0.349);
                transform-origin: 100px 100px;
                perspective: 800px;
                perspective-origin: 90% 90%;
                border-radius: 7px;
                border: solid rgba(188, 188, 226, 0.349) 2px ;
            
            }
            #img2 .f2:nth-child(4){
                background-image: url(/imeg/alster2.jpg);
                left: 50px; 
                top: 180px;
            }
            #img2 .f2:nth-child(2){
                background-image: url(/imeg/alster1.jpg);
                left: 5px;
                top: 10px;
             }
             #img2 .f2:nth-child(1){
                background-image: url(/imeg/alster3.jpg);
                left: 270px;
                top: 60px;
            }
            #img2 .f2:nth-child(3){
                background-image: url(/imeg/alster4.jpg);
                left: 290px;
                top: 210px;
               
            }
    
    #div3{
        background-image: url(/imeg/hafen6.jpg);
        background-size: cover;
        width: 100%;
        position:relative;
        cursor: pointer;
        border-radius: 7px;
        box-shadow: 5px 8px 5px rgba(82, 81, 81, 0.664);
    }
    #img3 .f3:nth-child(4){
        background-image: url(/imeg/hafen6.jpg);
        
        left: 50px; 
        top: 180px; 
    }
    #img3 .f3:nth-child(2){
        background-image: url(/imeg/hafen7.jpg);
        left: 5px;
        top: 10px;
     }
     #img3 .f3:nth-child(1){
        background-image: url(/imeg/hafen4.jpg);
        left: 270px;
        top: 60px;
    }
    #img3 .f3:nth-child(3){
        background-image: url(/imeg/hafen1.jpg);
        left: 290px;
        top: 230px;
    }
    
    #div4{
        background-image: url(/imeg/elbphilharmonie2.jpg);
        background-size: cover;
        border-radius: 7px;
        cursor: pointer;
        box-shadow: 5px 8px 5px rgba(82, 81, 81, 0.664);
    }
    #img4 .f4:nth-child(4){
        background-image: url(/imeg/elbphilharmonie2.jpg);
     
        left: 50px; 
        top: 180px; 
    }
    #img4 .f4:nth-child(2){
        background-image: url(/imeg/elbphilharmonie4.jpg);
        left: 5px;
        top: 10px;
     }
     #img4 .f4:nth-child(1){
        background-image: url(/imeg/elbphilharmonie1.jpg);
        left: 270px;
        top: 60px;
    }
    #img4 .f4:nth-child(3){
        background-image: url(/imeg/elbphilharmonie3.jpg);
        left: 290px;
        top: 230px;
    }
    #div5{
        background-image: url(/imeg/img3.jpg);
        background-size: cover;
        border-radius: 7px;
        cursor: pointer;
        box-shadow: 5px 8px 5px rgba(82, 81, 81, 0.664);
    }
    #img5 .f5:nth-child(4){
        background-image: url(/imeg/img1.jpg);
     
        left: 50px; 
        top: 180px; 
    }
    #img5 .f5:nth-child(2){
        background-image: url(/imeg/img3.jpg);
        left: 5px;
        top: 10px;
     }
     #img5 .f5:nth-child(1){
        background-image: url(/imeg/img7.jpg);
        left: 270px;
        top: 60px;
    }
    #img5 .f5:nth-child(3){
        background-image: url(/imeg/hafen1.jpg);
        left: 290px;
        top: 230px;
    }
    #div6{
        background-image: url(/imeg/img6.jpg);
        background-size: cover;
        border-radius: 7px;
    }